<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thyemleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
<th:block th:fragment="content">
<meta charset="UTF-8">
<title>상세 보기</title>
</head>
<body>
	<h1 class="mt4">
		메모 상세 보기
	</h1>

	<div class="form-group">
		<label>
			글번호 
		</label>
		<input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly/>
	</div>
	<div class="form-group">
		<label>제목</label>
		<input class="form-control" name="title" th:value="${dto.title}"readonly/>
	</div>
	<div class="form-group">
		<label>내용</label>
		<textarea class="form-control" name="content" readonly>[[${dto.content}]]</textarea>
	</div>
	<div class="form-group">
		<label>작성자</label>
		<input type="text" class="form-control" name="writer" th:value="${dto.writer}" disabled/>
	</div>
	<div class="form-group">
		<label>작성시간</label>
		<input type="text" class="form-control" name="regdate" th:value="${#temporals.format(dto.regdate,'yyyy/MM/dd HH:mm/SS')}" readonly/>
	</div>
	<div class="form-group">
		<label>수정시간</label>
		<input type="text" class="form-control" name="moddate" th:value="${#temporals.format(dto.moddate,'yyyy/MM/dd HH:mm/SS')}" readonly/>
	</div>

	<a th:href="@{/memo/list(page=${requestDTO.page})}">
		<input type="button" class="btn" value="목록보기"/>
	</a>  
	
	
	<a th:href="@{/memo/update(gno=${dto.gno},page=${requestDTO.page})}">
		<input type="button" class="btn" value="수정하러가기"/>
	</a>  
	
		
						
</body>
</html>